<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090273726787-8fcbjdhc14lj0hsdu9e65amrfod6v9it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090273726787-8fcbjdhc14lj0hsdu9e65amrfod6v9it</string>
	<key>API_KEY</key>
	<string>AIzaSyDAv8g6j-JEpVRL6sPTUsQjZSlDZ5RSmes</string>
	<key>GCM_SENDER_ID</key>
	<string>1090273726787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devay.rpsStationery</string>
	<key>PROJECT_ID</key>
	<string>rps-statationary-jaipur</string>
	<key>STORAGE_BUCKET</key>
	<string>rps-statationary-jaipur.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090273726787:ios:5b0827e6ec755af8701ff6</string>
</dict>
</plist>
